<div class='js-menu  fixed top-0 right-0 left-0 bottom-0 z-40 bg-stone-50  bg-opacity-80 p-2 backdrop-blur-md pt-10  ' >
    <div class="  h-full flex justify-end   ">
        <div class="menu-top lg:w-[350px] md:w-[300px] sm:w-full w-full  ">
            <h3 class=''>—</h3>
                     
                {%- for link in linklists.main-menu.links -%}
                    <h3>  <a class="{%- if request.path == link.url -%}text-green-600 hover:text-green-600{%- endif -%}" href="{{ link.url }}">{{ link.title }}</a></h3>
                {%- endfor -%}

            <h3 class=''>—</h3>

            {%- for link in linklists.secondary-menu.links -%}
                <h3>  <a class="{%- if request.path == link.url -%}text-green-600 hover:text-green-600{%- endif -%}" href="{{ link.url }}">{{ link.title }}</a></h3>
            {%- endfor -%}

        
              <h3 class=''>—</h3>

              {%- for link in linklists.tertiary-menu.links -%}
                <h3>  <a class="{%- if request.path == link.url -%}text-green-600 hover:text-green-600{%- endif -%}" href="{{ link.url }}">{{ link.title }}</a></h3>
            {%- endfor -%}

          </div>


          
          {% comment %} <div class='menu-foot w-full '> 
            {% for link in linklists.footer.links %}
              <h3 class=''><a href="{{ link.url }}">{{ link.title }}</a></h3>
            {% endfor %}

        </div> {% endcomment %}
    </div>
</div> 