<div class='js-menu  fixed top-0 right-0 left-0 bottom-0  flex flex-col items-end justify-end  z-40 bg-stone-50 pointer-events-none  bg-opacity-80 p-2 backdrop-blur-lg ' >
    <div class="  h-full w-[20%]">
        <div class="menu-top ">
            {% for link in linklists.main-menu.links %}
              <h2 class=''><a href="{{ link.url }}">{{ link.title }}</a></h2>
            {% endfor %}
            <h3 class=''>—</h3>
            {% for link in linklists.secondary-menu.links %}
                <h2 class=''><a href="{{ link.url }}">{{ link.title }}</a></h2>
              {% endfor %}
            {% for link in linklists.secondary-menu.links %}
                <h2 class=''><a href="{{ link.url }}">{{ link.title }}</a></h2>
            {% endfor %}
          </div>

          <h3 class=''>—</h3>

          
          <div class='menu-foot w-full '>
            {% for link in linklists.footer.links %}
              <h3 class=''><a href="{{ link.url }}">{{ link.title }}</a></h3>
            {% endfor %}
          </div>
      </div>
</div>