<div class=" group flex flex-col  relative  ">
<a href="{{ product.url }}" >
<div class=" relative overflow-hidden"> 
    {% if product.featured_image %}
        <div  class=' group-hover:opacity-0  h-fit rounded-sm bg-c1  bg-opacity-50 overflow-hidden '>
            {{ product.featured_image | image_url: width: 700 | image_tag }}
        </div>
 
            <div class=" absolute inset-0 opacity-0 group-hover:opacity-100 ">{{ product.images[1] | image_url: width: 400 | image_tag }}</div>
       
    {% endif %}
</div>
<div class=' pt-1 '>
    <p> {{ product.title }} </p>

    <div class="flex">
        <p class='opacity-50 hover:text-red-500' > {{ product.price | money }} </p>
        <p> {{ product.compare_at_price | money_with_currency }} </p>
    </div>
</div>


</a>
</div>
