
  

  

    <div  style='background:{{section.settings.color}}' class=" js-section grid sm:h-screen h-fit bg-opacity-50 sm:grid-cols-2 grid-cols-1 p-4 gap-2 ">
      <div class='w-full '>
        <div class='h-full   '>
          <div class='h-fit pb-4'>
            <h1 class='font-serif strech sm: w-[80%]  uppercase    '>
              {{ section.settings.title}}
            </h1>
          </div>
            <h3 class='font-sans text-xl uppercase leading-none  w-[80%] ' >
              {{ section.settings.body}}
            </h3>
            here - {{ section.settings.product.url }}
            {% render 'shopping-link' with { text: 'View Product herer', link: section.settings.product.url } %}
          </div>
      </div>
      <div class='w-full h-full overflow-hidden'>
        <div class='object fit'> 
          {{ section.settings.image| img_url: '2048x' | img_tag }}
          </div>
      </div>
    </div>

    <div class='w-full h-full overflow-hidden'>
      here
     {{ section.settings.featured-product.title }} 
      <div class='object fit'> 
          {{ section.settings.featured-product.featured_image| img_url: '2048x' | img_tag }}
        </div>
    </div>


   
 
  


{% schema %}

  {
    "name": "Image & Text",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image One"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "body",
        "label": "Body Text"
      },
      {
       "type": "product",
       "id" : "featured-product",
       "label": "Product"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Colour"
      }
    ],

    "presets": [
      {
        "name": "Image & Text ",
        "category": "Content"
      }
    ]
  }
{% endschema %}