<div class="md:hidden w-full overflow-hidden ">

  {% render 'swiper' with { product: product } %}

</div>







<div class="grid grid-cols-2 relative h-fit pb-40 ">

   

      <div class="w-full h-fit flex md:w-full md:col-span-1 col-span-2 p-4 sticky top-0 snap-start ">
        <div class="  w-full ">
            <h3 class="text-serif">{{ product.title }}</h3>
            <h3 class="text-serif">{{ product.metafields.custom.range }}</h3>


            <div class="md:w-[350px]">
                <p class="pb-4">{{ product.description }}</p>
                <ajax-cart-product-form>
                    {% render 'add-to-cart-form' with current_variant: current_variant %}
                </ajax-cart-product-form>
                <div class="flex flex-col gap-1 w-full pt-4 ">
                    {% render 'atc-stick' %}
                    <div class="pt-4 flex-col flex gap-0">
                            {% if product.metafields.custom.shipping != '' %}
                                {% render 'accordian' with { title: 'Shipping', content: product.metafields.custom.shipping } %}
                            {% endif %}
                            {% if product.metafields.custom.size != '' %}
                                {% render 'accordian' with { title: 'Dimnetions', content: product.metafields.custom.size } %}
                            {% endif %}
                    </div>
            </div>

                
            </div>
        </div>
      </div>

      <div class="post-wrapper hidden transition-all md:flex md:flex-col md:h-auto flex-row  p-4 pb-0  w-full  "> 

            {% for image in product.images %}

                <div class="">
                  {{ image | image_url: width: 800 | image_tag: class: 'h-fit w-fit js-fade  ' }}
                  <p class="caption h-4 ">{{ forloop.index }} / {{forloop.length}}</p>
                  </div>

            {% endfor %}

      </div>
   
</div>






