



<div class='grid md:grid-cols-2 grid-cols-1   gap-2  md:p-2  p-0 '>

    <div class='post-wrapper transition-all flex md:flex-col md:h-auto h-[80vh] flex-row gap-2 overflow-y-scroll   '>
        
        {% for image in product.images %}
                       
                        {{ image | image_url: width: 700 | image_tag: class:'h-full w-fit ' }}
                          
        {% endfor %}
            
    
    </div>     


    {% comment %} imfo  {% endcomment %}

     <div class='  h-fit md:sticky top-1 p-4 flex flex-col items-center   md:pt-[20vh] pt-2'>

        <div class=" md:w-[80%] w-full  h-fit ">
            <h1> {{ product.title }} </h1>
            <h1> {{ product.metafields.custom.range }} </h1>
            <p> {{ product.description }} </p>
           
            {{  product.metafields.custom.custom.dimentions_  }}
    
        
        <ajax-cart-product-form> 
            {% render 'add-to-cart-form' with current_variant: current_variant  %}
        </ajax-cart-product-form>

        </div>

        {%  if product.metafields.custom.shipping != '' %}
            {% render 'accordian' with { title: 'Shipping', content: product.metafields.custom.shipping } %}
        {% endif %}

        {%  if product.metafields.custom.shipping != '' %}
            {% render 'accordian' with { title: 'Dimnetions', content: product.metafields.custom.dimnetions } %}
        {% endif %}
       
        {% render 'atc-stick' %} 


     </div>
    

</div>      


 

